.table {
	margin-top: 10px;
	color: rgba(255, 255, 255, 0.8);
	width: 70%;
	text-align: center;
	border-style: solid;
	border-color: #212121;
	border-width: 0px;
	background-color: #212121;
	border-radius: 10px;
}

.table td {
	border: none;
}
