.profile {
	margin: 20px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.fit-content {
	width: max-content;
	justify-content: center;
	z-index: 10000;
}

.edit-button-container {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: -60px;
}

.edit-button-container button {
	font-size: 0.6em;
	text-align: center;
	justify-content: center;
	color: rgba(255, 255, 255, 0.8);
	border-color: #181818;
}

.edit-button-container button:hover {
	background-color: #343434;
	text-shadow: 0 0 7px var(--lightGrey);
	border-color: #181818;
}

.bio-container {
	width: 100%;
	margin: 20px 0;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
}

.table {
	margin-top: 10px;
	color: rgba(255, 255, 255, 0.8);
	width: 70%;
	text-align: center;
	border-style: solid;
	border-color: #212121;
	border-width: 0px;
	background-color: #212121;
	border-radius: 10px;
}

.table td {
	border: none;
}

hr {
	border-color: rgba(255, 255, 255, 0.8);
	width: 80%;
}

.container {
	width: 80%;
}

.container .row {
	margin-top: 20px;
}

.image-container {
	height: 100%;
	width: 100%;
	margin: 20px 0;
}
