.heading {
	margin: 30px auto;
	font-size: 3em;
	width: 100%;
	text-align: center;
	color: white;
	font-family: "Barlow Condensed", sans-serif;
}

.register-form-container {
	height: 100%;
	width: 100%;
	font-family: "Righteous", cursive;
}

.register-form {
	margin: 30px auto;
	width: 30%;
}

.form-group {
	color: white;
	font-size: 0.9em;
}

.form-group input {
	color: white;
	background-color: var(--mainBlack);
	border-width: 1px;
	border-color: white;
}

.label {
	margin: 5px 0;
}

.name {
	margin: 5px 0;
}

.form-group input.email {
	letter-spacing: 2px;
}

.form-group input.password {
	letter-spacing: 3px;
}

.form-group input.confirmPassword {
	letter-spacing: 3px;
}

.signup-button {
	background-color: white;
	color: var(--mainBlack);
	margin: 5px 0;
	width: 100%;
	font-size: 0.9em;
	border-color: var(--mainBlack);
}

.signup-button:hover {
	background-color: var(--mainBlack);
	color: white;
	border-color: white;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
