:root{
  --mainBlack:#0B0B0B;
  --mainWhite:#FBFBFB;
  --lightGrey:#A9ACA9;
  --darkGrey:#2D2E2E;
  --mainBlue:#2881d0;
}

body{
  font-family: "Barlow Condensed", sans-serif !important;
  background:var(--mainBlack) !important;
  color:var(--mainWhite) !important;
}

.text-title{
  font-family: "Righteous", cursive;
  color: var(--mainWhite)
}
.text-blue{
  color:var(--mainBlue);
}
.text-black{
  color:var(--mainBlack);
}
.text-white{
  color:var(--mainWhite);
}
.text-dark-grey{
  color:var(--darkGrey);
}
.text-light-grey{
  color:var(--lightGrey);
}